body {
  margin: 0;
  padding-bottom: 70px;
  overflow-x: hidden;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: "none";
}

select:focus {
  outline: none;
}
.link-dark {
  color: #82EFFF
}